.newsletter {
  background: linear-gradient(
      0deg,
      rgba(30, 38, 109, 0.85) 0%,
      rgba(30, 38, 109, 0.85) 100%
    ),
    url('../img/bgNew.jpeg') center / contain no-repeat;
  color: var(--var-cor-branco);
  text-align: center;
  padding: 4rem 1rem;
}
