.simulador {
  align-items: center;
  background: linear-gradient(0deg, rgba(18, 25, 83, 0.85) 0%, rgba(18, 25, 83, 0.85) 100%), url('../img/bgSimulador.jpg') fixed center / cover no-repeat;
  color: var(--var-cor-branco);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 560px) {
  .simulador {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
